<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restoran</title>
  <link rel="stylesheet" href="styles.css"> <!-- CSS faylni ulash -->
</head>


<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    
 
   
    
    <div class="menu-item">
        <img src="{{post.photo.url}}" alt="{{post.title}}" class="menu-img">
        <div class="menu-details">
            <h2>{{post.title}}</h2>
            <h3 class="price">{{post.narxi}}</h3>
            <h3>{{post.body}}</h3>
           
{% endblock content %}
</div>
<!-- Testimonial End -->
